<!DOCTYPE html>
<html>
<head>
    <!-- Vuetify-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>
<body>
<div id="mensavue">
    <v-app dark>
        <div v-if="loaded">
            <v-toolbar>
                <v-toolbar-side-icon v-on:click="expandMenu()"></v-toolbar-side-icon>
                <v-toolbar-title>MensaVUE</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-autocomplete 
                    v-model="selectedCity" 
                    :items="cities"
                    label="City"
                    flat
                    class="mx-3"
                    placeholder="Where are you?" 
                    prepend-icon="location_city">
                </v-autocomplete>
                <v-spacer></v-spacer>
                <v-select 
                    item-text="name"
                    item-value="id"
                    :items="selectedCanteens"
                    v-model="selectedCanteen"
                    prepend-icon="restaurant"
                    no-data-text="Select a city first"
                    placeholder="Choose your canteen"
                    label="Canteen">
                </v-select>
            </v-toolbar>
            <v-navigation-drawer v-if="menuExpanded">
                <ul>
                    <li v-for="filter in filters">{{ filter }}</li>
                </ul>
            </v-navigation-drawer>
                    <v-tabs fixed-tabs v-model="selectedDate" mandatory>
                        <v-tab v-for="date in allMeals" :key="date.date"> {{ getDateTabs(date.date) }}</v-tab>
                    </v-tabs>
            <v-container v-if="!loaded" align-center justify-center row fill-height><v-progress-circular :size="150" :width="7" indeterminate></v-progress-circular></v-container>
        </div>
    </v-app>
</div>
<!--Vuetify-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<script>
    Vue.component('meallist', {
        props: ['meals'],
        template: 
        `<ul>
            <li v-for="meal in meals">
                {{ meal.name }}
                <ul>
                    <li v-for="note in meal.notes">{{ note }}</li>
                </ul>
            </li>
        </ul>`,
    })
    const app = new Vue({
        el: '#mensavue',
        data: {
            loaded: false,
            selectedCanteen: '',
            selectedCity: '',
            selectedDate: undefined,
            cities: [],
            canteens: [],
            allMeals: [],
            menuExpanded: true
        },
        methods: {

            getDateTabs: function(d){
                date = new Date(d);
                return date.toLocaleDateString('de-DE', {year: 'numeric', month: 'long', day: 'numeric' });
            },

            expandMenu: function(){
                if(this.menuExpanded){
                    this.menuExpanded = false;
                }
                else { this.menuExpanded = true}
            },

            getCanteenPages: function(){
                var req = new XMLHttpRequest();
                req.open('GET', 'https://openmensa.org/api/v2/canteens/', false);
                req.send(null);
                return req.getResponseHeader('X-Total-Pages');
            },

            getOpenDates: function(dateList){
                newDateList = [];
                dateList.forEach(date => {
                    if(!date.closed){
                        newDateList.push(date);
                    }
                });
                return newDateList;
            },

            fetchAllCanteens: function(){
                const pages = this.getCanteenPages();
                for (let i = 1; i < pages; i++) {
                    fetch('https://openmensa.org/api/v2/canteens?page=' + i)
                        .then(resp => resp.json())
                        .then(page => this.canteens.push.apply(this.canteens, page))
                        .then( () => this.loaded = true)
                        .then( () => this.fetchCities())
                }
            },

            fetchCities: function() {
                var cityList = []
                this.canteens.forEach(c => {
                    if(!cityList.includes(c.city)){
                        cityList.push(c.city);
                    }
                });
                this.cities = cityList.sort();
            }
        },
        computed: {
            selectedCanteens: function(){
                sCanteens = [];
                this.allMeals = [];
                this.selectedCanteen = '';
                this.canteens.forEach(c => {
                    if (c.city == this.selectedCity) {
                        sCanteens.push(c);
                    }
                });
                return sCanteens;
            }
        },
        watch: {
            selectedCanteen: function(){
                fetch('https://openmensa.org/api/v2/canteens/' + this.selectedCanteen + '/meals/')
                    .then(resp => resp.json())
                    .then(response => this.allMeals = this.getOpenDates(response));
            }
        },
        created () {
            this.fetchAllCanteens();
        }
    })
</script>
</body>
</html>