<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">    <!-- Vuetify-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>
<body>
<div id="mensavue">
    <v-app>
        <v-navigation-drawer v-if="menuExpanded" fixed app>
            <v-container fill-height>
                <p v-if="filters.length==0">Select a city and canteen</p>
                <v-list>
                    <div v-if="filters.length!=0">
                        <v-subheader>Filters</v-subheader>
                        <v-list-tile v-for="(filter, index) in filters" :key="filters[index]">
                            <v-list-tile-action>
                                <v-checkbox v-model="selectedFilters[index]" :key="filters[index]" :label="filters[index]"></v-checkbox>
                            </v-list-tile-action>
                        </v-list-tile>
                    </div>
                </v-list>
            </v-container>
        </v-navigation-drawer>
        <v-toolbar class="hidden-xs-and-down" prominent fixed app clipped-left>
            <v-toolbar-side-icon v-on:click="expandMenu()"></v-toolbar-side-icon>
            <v-spacer></v-spacer>
            <v-toolbar-title>mensaVue</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-autocomplete v-model="selectedCity" :items="cities" label="City" flat class="mx-3" placeholder="Where are you?"
                prepend-icon="location_city">
            </v-autocomplete>
            <v-spacer></v-spacer>
            <v-select item-text="name" item-value="id" :items="selectedCanteens" v-model="selectedCanteen" prepend-icon="restaurant"
                no-data-text="Select a city first" placeholder="Choose your canteen" label="Canteen">
            </v-select>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-toolbar extended class="hidden-sm-and-up" fixed app clipped-left>
            <v-toolbar-side-icon v-on:click="expandMenu()"></v-toolbar-side-icon>
            <v-spacer></v-spacer>
            <v-toolbar-title>mensaVue<sup>mobile</sup></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-autocomplete slot="extension" v-model="selectedCity" :items="cities" label="City" flat class="mx-3" placeholder="Where are you?"
                prepend-icon="location_city">
            </v-autocomplete>
            <v-spacer slot="extension"></v-spacer>
            <v-select slot="extension" item-text="name" item-value="id" :items="selectedCanteens" v-model="selectedCanteen"
                prepend-icon="restaurant" no-data-text="Select a city first" placeholder="Choose your canteen" label="Canteen">
            </v-select>
        </v-toolbar>
        <v-content v-if="!onMobileDevice || (onMobileDevice && !menuExpanded)">
            <v-container v-if="!loaded" align-center justify-center row fill-height>
                <v-progress-circular :size="150" :width="7" indeterminate></v-progress-circular>
            </v-container>
            <v-layout row wrap v-if="loaded">
                <v-flex grow v-if="selectedCanteen">
                    <v-card class="ma-3">
                        <v-card-title primary-title>
                            <div>
                                <div class="headline">{{ getCanteenById(selectedCanteen).name }}</div>
                                <span class="grey--text">{{ getCanteenById(selectedCanteen).address }}</span>
                            </div>
                        </v-card-title>
                    </v-card>
                    <v-tabs class="ma-3" v-if="selectedCanteen" fixed-tabs v-model="selectedDate" mandatory>
                        <v-tab v-for="date in allMeals" :key="date.date">
                            <v-icon>calendar_today</v-icon>&nbsp;{{ formatDate(date.date) }}
                        </v-tab>
                    </v-tabs>
                    <v-card class="ma-3">
                        <div class="text-xs-center">
                            <v-chip v-for="(selectedFilter,index) in selectedFilters" v-if="selectedFilter"
                                v-bind:key="filters[index]">{{ filters[index] }}</v-chip>
                        </div>
                    </v-card>
                    <v-container v-if="!filteredMeals" align-center justify-center row fill-height>
                        <v-progress-circular :size="150" :width="7" indeterminate></v-progress-circular>
                    </v-container>
                    <v-card class="ma-3" v-if="filteredMeals">
                        <v-list three-line subheader>
                            <div v-for="category in filteredMeals">
                                <v-subheader inset>{{ category.name }}</v-subheader>
                                <v-list-tile v-for="meal in category.meals" :key="meal.name" @click="">
                                    <v-list-tile-content>
                                        <v-list-tile-title>{{ meal.name }}</v-list-tile-title>
                                        <v-list-tile-sub-title>{{ formatPrices(meal.prices) }}</v-list-tile-sub-title>
                                        <v-list-tile-sub-title>
                                            <v-chip v-for="note in meal.notes" :key="note">{{ note }}</v-chip>
                                        </v-list-tile-sub-title>
                                    </v-list-tile-content>
                                </v-list-tile>
                                <v-divider inset></v-divider>
                                </v-list-tile>
                            </div>
                        </v-list>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-content>
        <v-container v-if="onMobileDevice && menuExpanded" fill-height>
            <v-card class="pa-3">
            <p v-if="filters.length==0">Select a city and canteen</p>
            <v-list>
                <div v-if="filters.length!=0">
                    <v-subheader>Filters</v-subheader>
                    <v-list-tile v-for="(filter, index) in filters" :key="filters[index]">
                        <v-list-tile-action>
                            <v-checkbox v-model="selectedFilters[index]" :key="filters[index]" :label="filters[index]">
                            </v-checkbox>
                        </v-list-tile-action>
                    </v-list-tile>
                </div>
            </v-list>
            </v-card>
        </v-container>
        <v-footer dark height="auto">
            <v-card class="flex" flat tile>
                <v-card-title style="background-color: #009587">
                    <v-spacer></v-spacer>
                    <v-btn v-for="icon in icons" :key="icon.icon" class="mx-3" dark icon v-bind:href="icon.link"
                        target="_blank">
                        <v-icon size="24px">{{ icon.icon }}</v-icon>
                    </v-btn>
                    <v-spacer></v-spacer>
                </v-card-title>
            </v-card>
        </v-footer>
    </v-app>
</div>
<!--Vuetify-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<script>
    const app = new Vue({
        el: '#mensavue',
        data: {
            loaded: false,
            selectedCanteen: undefined,
            selectedCity: undefined,
            selectedDate: undefined,
            cities: [],
            canteens: [],
            allMeals: [],
            menuExpanded: false,
            selectedFilters: [],
            icons: [
                { icon: 'fab fa-vuejs', link: "https://vuejs.org/"},
                { icon: 'fas fa-user', link: "http://yannickspoerl.me" },
                { icon: 'fab fa-github', link: "https://github.com/YannickSpoerl" },
                { icon: 'fab fa-spotify', link: "https://open.spotify.com/playlist/454IGseDQQiMdW5y8DReBL?si=2O_FC2R4SF60hxiXnp2KoA" }
            ]
        },
        methods: {

            formatDate: function(date){
                var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                jsDate = new Date(date);
                return jsDate.getDate() + '. ' + months[jsDate.getMonth()];
            },

            expandMenu: function(){
                if(this.menuExpanded){
                    this.menuExpanded = false;
                }
                else { this.menuExpanded = true}
            },

            getCanteenPages: function(){
                var req = new XMLHttpRequest();
                req.open('GET', 'https://openmensa.org/api/v2/canteens/', false);
                req.send(null);
                return req.getResponseHeader('X-Total-Pages');
            },

            getOpenDates: function(dateList){
                newDateList = [];
                dateList.forEach(date => {
                    if(!date.closed){
                        newDateList.push(date);
                    }
                });
                return newDateList;
            },

            getCanteenById: function(id){
                let el;
                this.selectedCanteens.forEach(element => {
                    if(element.id == id){
                        el = element;
                    }
                });
                return el;
            },

            fetchAllCanteens: function(){
                const pages = this.getCanteenPages();
                for (let i = 1; i < pages; i++) {
                    fetch('https://openmensa.org/api/v2/canteens?page=' + i)
                        .then(resp => resp.json())
                        .then(page => this.canteens.push.apply(this.canteens, page))
                        .then( () => this.loaded = true)
                        .then( () => this.fetchCities())
                }
            },

            fetchCities: function() {
                var cityList = []
                this.canteens.forEach(c => {
                    if(!cityList.includes(c.city)){
                        cityList.push(c.city);
                    }
                });
                this.cities = cityList.sort();
            },

            resetValues: function() {
                this.allMeals = [];
                this.selectedCanteen = undefined;
                this.selectedDate = 0;
                this.selectedCanteen = '';
            },

            createMealCategorys(meals){
                categories = [];
                meals.forEach(meal => {
                    var existent = false;
                    categories.forEach(category => {
                        if (category.name == meal.category) {
                            existent = true;
                            category.meals.push(meal);
                        } 
                    });
                    if(!existent){
                        var newCategory = {};
                        newCategory.name = meal.category;
                        newCategory.meals = [];
                        newCategory.meals.push(meal);
                        categories.push(newCategory);
                    }
                });
                return categories;
            },

            formatPrices: function(prices){
                var priceString = '';
                priceString = prices.students ? priceString + 'Students: ' + prices.students + '   ': priceString;
                priceString = prices.employees ? priceString + 'Employees: ' + prices.employees + '   ': priceString;
                priceString = prices.pupils ? priceString + 'Pupils: ' + prices.pupils + '   ' : priceString;
                priceString = prices.others ? priceString + 'Others: ' + prices.others : priceString;
                return priceString;
            }

        },
        computed: {
            onMobileDevice: function(){
                if(this.$vuetify.breakpoint.xs){
                    return true;
                }
                return false;
            },

            selectedCanteens: function(){
                sCanteens = [];
                this.resetValues();
                this.canteens.forEach(c => {
                    if (c.city == this.selectedCity) {
                        sCanteens.push(c);
                    }
                });
                return sCanteens;
            },

            filters: function () {
                this.selectedFilters = [];
                if(this.allMeals.length == 0){
                    return [];
                }
                newFilters = []
                this.allMeals[this.selectedDate].meals.forEach(element => {
                    element.notes.forEach(element2 => {
                        if (!newFilters.includes(element2)) {
                            newFilters.push(element2);
                        }
                    });
                });
                return newFilters;
            },

            filteredMeals: function(){
                if(!this.allMeals[this.selectedDate]){
                    return undefined;
                }
                let newFilteredMeals = [];
                let activatedFilters = [];
                for(let i=0; i<this.filters.length;i++){
                    if(this.selectedFilters[i]){
                        activatedFilters.push(this.filters[i]);
                    }
                }
                this.allMeals[this.selectedDate].meals.forEach(meal => {
                    if(activatedFilters.every(filter => meal.notes.includes(filter))){
                        newFilteredMeals.push(meal)
                    }
                });
                return this.createMealCategorys(newFilteredMeals);
            }
        },
        watch: {
            selectedCanteen: function(){
                if(!this.selectedCanteen){
                    return;
                }
                this.selectedDate = 0;
                fetch('https://openmensa.org/api/v2/canteens/' + this.selectedCanteen + '/meals/')
                    .then(resp => resp.json())
                    .then(response => this.allMeals = this.getOpenDates(response));
            }
        },
        created () {
            this.fetchAllCanteens();
        }
    });
</script>
</body>
</html>